openapi: 3.0.0
info:
  title: Starl-Backend API Document
  description: This is API Document of Starl-Backend
  version: 1.0.8

servers:
  - url: https://api.starl.co.jp/v1

paths:
  # -------------------- HealthCheck --------------------
  /health-check:
    get:
      tags:
        - HealthCheck
      summary: Health check
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
        '500':
          description: Internal Server Error

  # -------------------- AuthAdmin --------------------
  /admin/signin:
    post:
      tags:
        - AuthAdmin
      summary: Admin sign in
      requestBody:
        description: Admin auth info
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSignInRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSignInResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: id and password required to sign in admin
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
                description: Incorrect id or password
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to sign in admin
                description: "Amazon Cognito: ${err.message}"
  /admin/signout:
    post:
      tags:
        - AuthAdmin
      summary: Admin sign out
      security:
        - BearerAuth: []
      requestBody:
        description: Sign out request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignOutRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignOutResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: refreshToken required to sign out admin
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to sign out admin
                description: "Amazon Cognito: ${err.message}"

  # -------------------- AuthCorporation --------------------
  /admin/corporation/signup:
    post:
      tags:
        - AuthCorporation
      summary: Sign up corporation by admin
      security:
        - BearerAuth: []
      requestBody:
        description: Corporation object to signup
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporationSignUpRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationSignUpResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: id and corporationName required to sign up corporation
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to sign up corporation
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to sign up corporation
                    description: "Amazon DynamoDB: ${err.message}"
  /corporation/signin:
    post:
      tags:
        - AuthCorporation
      summary: Sign in corporation
      requestBody:
        description: Corporation auth info
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporationSignInRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationSignInResponse'
              examples:
                CorporationInitialSignInResponse:
                  summary: 初回ログイン時のレスポンス
                  value:
                    initialSignIn: true
                    session: AYABeEG4Uc9u9f-1S6Cyj3G5i8IAHQABAAdTZXJ2aWNlABBDb2duaXRvVXNlclBvb
                    idToken:
                    accessToken:
                    refreshToken:
                CorporationSignInResponse:
                  summary: 通常のレスポンス
                  value:
                    initialSignIn: false
                    session:
                    idToken: dmcxd329ujdmkemkd349r
                    accessToken: eyJz9sdfsdfsdfsd
                    refreshToken: dn43ud8uj32nk2je
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: id and password required to sign in corporation
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
                description: Incorrect id or password
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to sign in corporation
                description: "Amazon Cognito: ${err.message}"
  /corporation/reset-password:
    post:
      tags:
        - AuthCorporation
      summary: Corporation reset password
      requestBody:
        description: Corporation auth info
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporationResetPasswordRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationResetPasswordResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: id, newPassword and session required to reset password
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidStatusActive:
                  summary: 'Invalid status: ACTIVE'
                  value:
                    message: Invalid corporation status
                    description: Corporation is already active
                InvalidStatusDisabled:
                  summary: 'Invalid status: DISABLED'
                  value:
                    message: Invalid corporation status
                    description: Corporation is disabled
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to reset password
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to reset password
                    description: "Amazon DynamoDB: ${err.message}"
  /admin/corporation/{corporationId}/disable:
    put:
      tags:
        - AuthCorporation
      summary: Disable corporation by admin
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: corporationId
          description: Corporation ID
          required: true
          schema:
            type: string
            example: nikuyokocho
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationDisableResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidStatusRegistered:
                  summary: 'Invalid status: REGISTERED'
                  value:
                    message: Invalid corporation status
                    description: Required to reset password
                InvalidStatusDisabled:
                  summary: 'Invalid status: DISABLED'
                  value:
                    message: Invalid corporation status
                    description: Corporation is already disabled
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Corporation not found
                description: "corporationId: ${corporationId}"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to disable corporation
                description: "Amazon DynamoDB: ${err.message}"
  /admin/corporation/{corporationId}/activate:
    put:
      tags:
        - AuthCorporation
      summary: Activate corporation by admin
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: corporationId
          description: Corporation ID
          required: true
          schema:
            type: string
            example: nikuyokocho
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationActivateResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidStatusRegistered:
                  summary: 'Invalid status: REGISTERED'
                  value:
                    message: Invalid corporation status
                    description: Required to reset password
                InvalidStatusActive:
                  summary: 'Invalid status: ACTIVE'
                  value:
                    message: Invalid corporation status
                    description: Corporation is already active
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Corporation not found
                description: "corporationId: ${corporationId}"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to activate corporation
                description: "Amazon DynamoDB: ${err.message}"
  /corporation/change-password:
    post:
      tags:
        - AuthCorporation
      summary: Corporation change password
      requestBody:
        description: Corporation auth info
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporationChangePasswordRequest'
      responses:
        '200':
          description: Successful Operation
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: previousPassword, newPassword and accessToken required to change password
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
                description: Incorrect previousPassword or accessToken
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to change password
                description: "Amazon Cognito: ${err.message}"
  /corporation/signout:
    post:
      tags:
        - AuthCorporation
      summary: Corporation sign out
      security:
        - BearerAuth: []
      requestBody:
        description: Sign out request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignOutRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignOutResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: refreshToken required to sign out corporation
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to sign out corporation
                description: "Amazon Cognito: ${err.message}"

  # -------------------- AuthShop --------------------
  /admin/shop/signup:
    post:
      tags:
        - AuthShop
      summary: Sign up shop by admin
      security:
        - BearerAuth: []
      requestBody:
        description: Shop object to signup
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopSignUpRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopSignUpResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: corporationId, id and shopName required to sign up shop
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to sign up shop
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to sign up shop
                    description: "Amazon DynamoDB: ${err.message}"
  /shop/signin:
    post:
      tags:
        - AuthShop
      summary: Sign in shop
      requestBody:
        description: Shop auth info
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopSignInRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopSignInResponse'
              examples:
                ShopInitialSignInResponse:
                  summary: 初回ログイン時のレスポンス
                  value:
                    initialSignIn: true
                    session: AYABeEG4Uc9u9f-1S6Cyj3G5i8IAHQABAAdTZXJ2aWNlABBDb2duaXRvVXNlclBvb
                    idToken:
                    accessToken:
                    refreshToken:
                ShopSignInResponse:
                  summary: 通常のレスポンス
                  value:
                    initialSignIn: false
                    session:
                    idToken: dmcxd329ujdmkemkd349r
                    accessToken: eyJz9sdfsdfsdfsd
                    refreshToken: dn43ud8uj32nk2je
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: id and password required to sign in shop
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
                description: Incorrect id or password
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to sign in shop
                description: "Amazon Cognito: ${err.message}"
  /shop/reset-password:
    post:
      tags:
        - AuthShop
      summary: Shop reset password
      requestBody:
        description: Shop auth info
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopResetPasswordRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopResetPasswordResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: id, newPassword and session required to reset password
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidStatusConfirmed:
                  summary: 'Invalid status: CONFIRMED'
                  value:
                    message: Invalid shop status
                    description: Shop is already confirmed
                InvalidStatusActive:
                  summary: 'Invalid status: ACTIVE'
                  value:
                    message: Invalid shop status
                    description: Shop is already active
                InvalidStatusDisabled:
                  summary: 'Invalid status: DISABLED'
                  value:
                    message: Invalid shop status
                    description: Shop is disabled
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to reset password
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to reset password
                    description: "Amazon DynamoDB: ${err.message}"
  /corporation/shop/reset-password:
    post:
      tags:
        - AuthShop
      summary: Corporation reset shop password
      requestBody:
        description: Shop auth info
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporationResetShopPasswordRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationResetShopPasswordResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: shopId, initialPassword and newPassword required for corporation to reset shop password
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
                description: Incorrect shopId or password
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidStatusConfirmed:
                  summary: 'Invalid status: CONFIRMED'
                  value:
                    message: Invalid shop status
                    description: Shop is already confirmed
                InvalidStatusActive:
                  summary: 'Invalid status: ACTIVE'
                  value:
                    message: Invalid shop status
                    description: Shop is already active
                InvalidStatusDisabled:
                  summary: 'Invalid status: DISABLED'
                  value:
                    message: Invalid shop status
                    description: Shop is disabled
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to reset shop password
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to reset shop password
                    description: "Amazon DynamoDB: ${err.message}"
  /admin/shop/{shopId}/activate:
    put:
      tags:
        - AuthShop
      summary: Activate shop by admin
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: shopId
          description: Shop ID
          required: true
          schema:
            type: string
            example: nikuyokocho-0001
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopActivateResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidCorporationStatusRegistered:
                  summary: 'Invalid corporation status: REGISTERED'
                  value:
                    message: Invalid corporation status
                    description: Corporation is required to reset password
                InvalidCorporationStatusDisabled:
                  summary: 'Invalid corporation status: DISABLED'
                  value:
                    message: Invalid corporation status
                    description: Corporation is disabled
                InvalidShopStatusRegistered:
                  summary: 'Invalid shop status: REGISTERED'
                  value:
                    message: Invalid shop status
                    description: Shop is required to reset password
                InvalidShopStatusActive:
                  summary: 'Invalid shop status: ACTIVE'
                  value:
                    message: Invalid shop status
                    description: Shop is already active
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CorporationNotFound:
                  value:
                    message: Corporation not found
                    description: "corporationId: ${corporationId}"
                ShopNotFound:
                  value:
                    message: Shop not found
                    description: "shopId: ${shopId}"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to activate shop
                description: "Amazon DynamoDB: ${err.message}"
  /corporation/shop/{shopId}/activate:
    put:
      tags:
        - AuthShop
      summary: Activate shop by corporation
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: shopId
          description: Shop ID
          required: true
          schema:
            type: string
            example: nikuyokocho-0001
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopActivateResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidCorporationStatusRegistered:
                  summary: 'Invalid corporation status: REGISTERED'
                  value:
                    message: Invalid corporation status
                    description: Corporation is required to reset password
                InvalidCorporationStatusDisabled:
                  summary: 'Invalid corporation status: DISABLED'
                  value:
                    message: Invalid corporation status
                    description: Corporation is disabled
                InvalidShopStatusRegistered:
                  summary: 'Invalid shop status: REGISTERED'
                  value:
                    message: Invalid shop status
                    description: Shop is required to reset password
                InvalidShopStatusActive:
                  summary: 'Invalid shop status: ACTIVE'
                  value:
                    message: Invalid shop status
                    description: Shop is already active
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CorporationNotFound:
                  value:
                    message: Corporation not found
                    description: "corporationId: ${corporationId}"
                ShopNotFound:
                  value:
                    message: Shop not found
                    description: "shopId: ${shopId}"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to activate shop
                description: "Amazon DynamoDB: ${err.message}"
  /admin/shop/{shopId}/disable:
    put:
      tags:
        - AuthShop
      summary: Disable shop by admin
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: shopId
          description: Shop ID
          required: true
          schema:
            type: string
            example: nikuyokocho-0001
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopDisableResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidStatusRegistered:
                  summary: 'Invalid status: REGISTERED'
                  value:
                    message: Invalid shop status
                    description: Shop is required to reset password
                InvalidStatusConfirmed:
                  summary: 'Invalid status: CONFIRMED'
                  value:
                    message: Invalid shop status
                    description: Shop is not activated yet
                InvalidStatusDisabled:
                  summary: 'Invalid status: DISABLED'
                  value:
                    message: Invalid shop status
                    description: Shop is already disabled
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ShopNotFound:
                  value:
                    message: Shop not found
                    description: "shopId: ${shopId}"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to disable shop
                description: "Amazon DynamoDB: ${err.message}"
  /corporation/shop/{shopId}/disable:
    put:
      tags:
        - AuthShop
      summary: Disable shop by corporation
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: shopId
          description: Shop ID
          required: true
          schema:
            type: string
            example: nikuyokocho-0001
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopDisableResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidStatusRegistered:
                  summary: 'Invalid status: REGISTERED'
                  value:
                    message: Invalid shop status
                    description: Shop is required to reset password
                InvalidStatusConfirmed:
                  summary: 'Invalid status: CONFIRMED'
                  value:
                    message: Invalid shop status
                    description: Shop is not activated yet
                InvalidStatusDisabled:
                  summary: 'Invalid status: DISABLED'
                  value:
                    message: Invalid shop status
                    description: Shop is already disabled
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ShopNotFound:
                  value:
                    message: Shop not found
                    description: "shopId: ${shopId}"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to disable shop
                description: "Amazon DynamoDB: ${err.message}"
  /shop/change-password:
    post:
      tags:
        - AuthShop
      summary: Shop change password
      requestBody:
        description: Shop auth info
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopChangePasswordRequest'
      responses:
        '200':
          description: Successful Operation
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: previousPassword, newPassword and accessToken required to change password
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
                description: Incorrect previousPassword or accessToken
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to change password
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to change password
                    description: "Amazon DynamoDB: ${err.message}"
  /shop/signout:
    post:
      tags:
        - AuthShop
      summary: Shop sign out
      security:
        - BearerAuth: []
      requestBody:
        description: Sign out request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignOutRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignOutResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: refreshToken required to sign out shop
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to sign out shop
                description: "Amazon Cognito: ${err.message}"

  # -------------------- AuthUser --------------------
  /user/device/{deviceId}:
    get:
      tags:
        - AuthUser
      summary: Read user by device ID
      parameters:
        - in: path
          name: deviceId
          description: Device ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                ref: '#/components/schemas/UserFindByDeviceIdResponse'
              examples:
                NotFound:
                  value:
                    deviceId: 3K0XXXXX-83XX-HEXX-KIXX-29KH83XXXXXX
                    exists: false
                RegistrationNotCompleted:
                  value:
                    deviceId: 3K0XXXXX-83XX-HEXX-KIXX-29KH83XXXXXX
                    exists: true
                    registrationCompleted: false
                Disabled:
                  value:
                    deviceId: 3K0XXXXX-83XX-HEXX-KIXX-29KH83XXXXXX
                    exists: true
                    registrationCompleted: true
                    active: false
                Google:
                  value:
                    deviceId: 3K0XXXXX-83XX-HEXX-KIXX-29KH83XXXXXX
                    exists: true
                    registrationCompleted: true
                    active: true
                    idProvider: Google
                    email: user@gmail.com
                Facebook:
                  value:
                    deviceId: 3K0XXXXX-83XX-HEXX-KIXX-29KH83XXXXXX
                    exists: true
                    registrationCompleted: true
                    active: true
                    idProvider: Facebook
                    email: user@gmail.com
                Email:
                  value:
                    deviceId: 3K0XXXXX-83XX-HEXX-KIXX-29KH83XXXXXX
                    exists: true
                    registrationCompleted: true
                    active: true
                    idProvider: Email
                    email: user@gmail.com
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to get user
                description: "Amazon DynamoDB: ${err.message}"
  /user/signup:
    post:
      tags:
        - AuthUser
      summary: Sign up user
      requestBody:
        description: User object to signup
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSignUpRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSignUpResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: deviceId and deviceToken required to sign up user
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to sign up user
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to sign up user
                    description: "Amazon DynamoDB: ${err.message}"
                SNS-a:
                  value:
                    message: Failed to sign up user
                    description: "Amazon SNS: ${err.message}"
                SNS-b:
                  value:
                    message: Failed to sign up user
                    description: "Failed to create push notification endpoint"
  /user/get-token:
    post:
      tags:
        - AuthUser
      summary: Get token following sns authorization
      requestBody:
        description: Authorization Code
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGetTokenRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetTokenResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: code required to get token
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to get token
                description: "Http request to cognito token endpoint failed: ${err.message}"
  /user/confirm-sns-signup:
    post:
      tags:
        - AuthUser
      summary: Confirm sns sign up
      security:
        - BearerAuth: []
      requestBody:
        description: User auth info
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserConfirmSnsSignUpRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserConfirmSnsSignUpResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidIdToken:
                  value:
                    message: Invalid ID token
                AlreadyUsed:
                  value:
                    message: Failed to confirm sns sign up
                    description: This sns account already used.
                InvalidParams:
                  value:
                    message: Invalid request parameter
                    description: id and password required to confirm sns sign up
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
                description: Incorrect id or password
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidStatusActive:
                  summary: 'Invalid status: ACTIVE'
                  value:
                    message: Invalid user status
                    description: User is already active
                InvalidStatusDisabled:
                  summary: 'Invalid status: DISABLED'
                  value:
                    message: Invalid user status
                    description: User is disabled
                InvalidStatusRequireVerification:
                  summary: 'Invalid status: REQUIRE_VERIFICATION'
                  value:
                    message: Invalid user status
                    description: User is already registered
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to confirm sns sign up
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to confirm sns sign up
                    description: "Amazon DynamoDB: ${err.message}"
  /user/signin:
    post:
      tags:
        - AuthUser
      summary: Sign in user
      requestBody:
        description: User auth info
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSignInRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSignInResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: id and password required to sign in user
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
                description: Incorrect id or password
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to sign in user
                description: "Amazon Cognito: ${err.message}"
  /user/refresh-token:
    post:
      tags:
        - AuthUser
      summary: Refresh token
      requestBody:
        description: Refresh token
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRefreshTokenRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRefreshTokenResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: refreshToken required to refresh token
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to refresh token
                description: "Http request to cognito token endpoint failed: ${err.message}"
  /user/register:
    post:
      tags:
        - AuthUser
      summary: User registration
      requestBody:
        description: User account info
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegisterRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRegisterResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidParams:
                  value:
                    message: Invalid request parameter
                    description: email and accessToken required to register user
                EmailUsed:
                  value:
                    message: This email already used
                    description: "email: ${email}"
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidStatusVerified:
                  summary: 'Invalid status: VERIFIED'
                  value:
                    message: Invalid user status
                    description: User is already verified
                InvalidStatusActive:
                  summary: 'Invalid status: ACTIVE'
                  value:
                    message: Invalid user status
                    description: User is already active
                InvalidStatusDisabled:
                  summary: 'Invalid status: DISABLED'
                  value:
                    message: Invalid user status
                    description: User is disabled
                InvalidStatusRequireVerification:
                  summary: 'Invalid status: REQUIRE_VERIFICATION'
                  value:
                    message: Invalid user status
                    description: User is already registered
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to register user
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to register user
                    description: "Amazon DynamoDB: ${err.message}"
  /user/resende-code:
    post:
      tags:
        - AuthUser
      summary: User resend code
      requestBody:
        description: Email
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserResendCodeRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResendCodeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: accessToken required to resend code
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidStatusSignedUp:
                  summary: 'Invalid status: SIGNED_UP'
                  value:
                    message: Invalid user status
                    description: User is required to register email
                InvalidStatusVerified:
                  summary: 'Invalid status: VERIFIED'
                  value:
                    message: Invalid user status
                    description: User is already verified
                InvalidStatusActive:
                  summary: 'Invalid status: ACTIVE'
                  value:
                    message: Invalid user status
                    description: User is already verified
                InvalidStatusDisabled:
                  summary: 'Invalid status: DISABLED'
                  value:
                    message: Invalid user status
                    description: User is disabled
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to resend code
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to resend code
                    description: "Amazon DynamoDB: ${err.message}"
  /user/verify:
    post:
      tags:
        - AuthUser
      summary: User email verification
      requestBody:
        description: User verification code and access token
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserVerifyRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserVerifyResponse'
              examples:
                Regisetration:
                  summary: Verification of registration
                  value:
                    id: ad89afgt
                    email: user@gmail.com
                    status: VERIFIED
                ChangeEmail:
                  summary: Verification of update email
                  value:
                    id: ad89afgt
                    email: user@gmail.com
                    status: ACTIVE
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: code and accessToken required to verify email
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidStatusSignedUp:
                  summary: 'Invalid status: SIGNED_UP'
                  value:
                    message: Invalid user status
                    description: User is required to register email
                InvalidStatusVerified:
                  summary: 'Invalid status: VERIFIED'
                  value:
                    message: Invalid user status
                    description: User is already verified
                InvalidStatusActive:
                  summary: 'Invalid status: ACTIVE'
                  value:
                    message: Invalid user status
                    description: User is already verified
                InvalidStatusDisabled:
                  summary: 'Invalid status: DISABLED'
                  value:
                    message: Invalid user status
                    description: User is disabled
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to verify email
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to verify email
                    description: "Amazon DynamoDB: ${err.message}"
  /user/change-password:
    post:
      tags:
        - AuthUser
      summary: User change password
      requestBody:
        description: Pre/new password and access token
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserChangePasswordRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserChangePasswordResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: prevPassword, newPassword and accessToken required to change password
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
                description: Incorrect previousPassword or accessToken
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidUser:
                  summary: SNS account not need password
                  value:
                    message: Invalid user
                    description: Password not set
                InvalidStatusSignedUp:
                  summary: 'Invalid status: SIGNED_UP'
                  value:
                    message: Invalid user status
                    description: User is required to register email
                InvalidStatusRegistered:
                  summary: 'Invalid status: REGISTERED'
                  value:
                    message: Invalid user status
                    description: User is required to verify email
                InvalidStatusDisabled:
                  summary: 'Invalid status: DISABLED'
                  value:
                    message: Invalid user status
                    description: User is disabled
                InvalidStatusRequireVerification:
                  summary: 'Invalid status: REQUIRE_VERIFICATION'
                  value:
                    message: Invalid user status
                    description: User is required to verify email
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to change password
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to change password
                    description: "Amazon DynamoDB: ${err.message}"
  /user/change-email:
    post:
      tags:
        - AuthUser
      summary: User change email
      requestBody:
        description: User new email and access token
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserChangeEmailRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserChangeEmailResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidParams:
                  value:
                    message: Invalid request parameter
                    description: email and accessToken required to change email
                EmailUsed:
                  value:
                    message: This email already used
                    description: "email: ${email}"
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidStatusSignedUp:
                  summary: 'Invalid status: SIGNED_UP'
                  value:
                    message: Invalid user status
                    description: User is required to register email
                InvalidStatusRegistered:
                  summary: 'Invalid status: REGISTERED'
                  value:
                    message: Invalid user status
                    description: User is required to verify email
                InvalidStatusVerified:
                  summary: 'Invalid status: VERIFIED'
                  value:
                    message: Invalid user status
                    description: User is required to set password
                InvalidStatusDisabled:
                  summary: 'Invalid status: DISABLED'
                  value:
                    message: Invalid user status
                    description: User is disabled
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to change password
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to change password
                    description: "Amazon DynamoDB: ${err.message}"
  /user/reset-password:
    post:
      tags:
        - AuthUser
      summary: User reset password
      requestBody:
        description: Email
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserResetPasswordRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResetPasswordResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: email required to reset password
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidUser:
                  summary: SNS account not need password
                  value:
                    message: Invalid user
                    description: Password not set
                InvalidStatusSignedUp:
                  summary: 'Invalid status: SIGNED_UP'
                  value:
                    message: Invalid user status
                    description: User is required to register email
                InvalidStatusRegistered:
                  summary: 'Invalid status: REGISTERED'
                  value:
                    message: Invalid user status
                    description: User is required to verify email
                InvalidStatusVerified:
                  summary: 'Invalid status: VERIFIED'
                  value:
                    message: Invalid user status
                    description: User is required to set password
                InvalidStatusDisabled:
                  summary: 'Invalid status: DISABLED'
                  value:
                    message: Invalid user status
                    description: User is disabled
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: User not found
                description: "email: ${email}"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to reset password
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to reset password
                    description: "Amazon DynamoDB: ${err.message}"
  /user/confirm-reset-password:
    post:
      tags:
        - AuthUser
      summary: User confirm reset password
      requestBody:
        description: email, code and new password
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserConfirmResetPasswordRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserConfirmResetPasswordResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: email, code and newPassword required to change email
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidUser:
                  summary: SNS account not need password
                  value:
                    message: Invalid user
                    description: Password not set
                InvalidStatusSignedUp:
                  summary: 'Invalid status: SIGNED_UP'
                  value:
                    message: Invalid user status
                    description: User is required to register email
                InvalidStatusRegistered:
                  summary: 'Invalid status: REGISTERED'
                  value:
                    message: Invalid user status
                    description: User is required to verify email
                InvalidStatusVerified:
                  summary: 'Invalid status: VERIFIED'
                  value:
                    message: Invalid user status
                    description: User is required to set password
                InvalidStatusActive:
                  summary: 'Invalid status: ACTIVE'
                  value:
                    message: Invalid user status
                    description: User is already active
                InvalidStatusDisabled:
                  summary: 'Invalid status: DISABLED'
                  value:
                    message: Invalid user status
                    description: User is disabled
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to change password
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to change password
                    description: "Amazon DynamoDB: ${err.message}"
  /admin/user/{userId}/disable:
    put:
      tags:
        - AuthUser
      summary: Disable user by admin
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: userId
          description: User ID
          required: true
          schema:
            type: string
            example: ad89afgt
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDisableUserResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidStatusSignedUp:
                  summary: 'Invalid status: SIGNED_UP'
                  value:
                    message: Invalid user status
                    description: User is required to register email
                InvalidStatusRegistered:
                  summary: 'Invalid status: REGISTERED'
                  value:
                    message: Invalid user status
                    description: User is required to verify email
                InvalidStatusVerified:
                  summary: 'Invalid status: VERIFIED'
                  value:
                    message: Invalid user status
                    description: User is required to set password
                InvalidStatusDisabled:
                  summary: 'Invalid status: DISABLED'
                  value:
                    message: Invalid user status
                    description: User is disabled
                InvalidStatusRequireVerification:
                  summary: 'Invalid status: REQUIRE_VERIFICATION'
                  value:
                    message: Invalid user status
                    description: User is required to verify email
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: User not found
                description: "userId: ${userId}"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to disable user
                description: "Amazon DynamoDB: ${err.message}"
  /admin/user/{userId}/activate:
    put:
      tags:
        - AuthUser
      summary: Activate user by admin
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: userId
          description: User ID
          required: true
          schema:
            type: string
            example: ad89afgt
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminActivateUserResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidStatusSignedUp:
                  summary: 'Invalid status: SIGNED_UP'
                  value:
                    message: Invalid user status
                    description: User is required to register email
                InvalidStatusRegistered:
                  summary: 'Invalid status: REGISTERED'
                  value:
                    message: Invalid user status
                    description: User is required to verify email
                InvalidStatusVerified:
                  summary: 'Invalid status: VERIFIED'
                  value:
                    message: Invalid user status
                    description: User is required to set password
                InvalidStatusActive:
                  summary: 'Invalid status: ACTIVE'
                  value:
                    message: Invalid user status
                    description: User is already active
                InvalidStatusRequireVerification:
                  summary: 'Invalid status: REQUIRE_VERIFICATION'
                  value:
                    message: Invalid user status
                    description: User is required to verify email
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ShopNotFound:
                  value:
                    message: User not found
                    description: "userId: ${userId}"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to activateuser
                description: "Amazon DynamoDB: ${err.message}"
  /user/signout:
    post:
      tags:
        - AuthUser
      summary: User sign out
      security:
        - BearerAuth: []
      requestBody:
        description: Sign out request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignOutRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignOutResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: refreshToken required to sign out user
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to sign out user
                description: "Amazon Cognito: ${err.message}"
  /user/delete:
    delete:
      tags:
        - AuthUser
      summary: Delete User
      security:
        - BearerAuth: []
      requestBody:
        description: AccessToken
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken:
                  type: string
                  example: eyJz9sdfsdfsdfsd
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDeleteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: accessToken required to delete user
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Cognito:
                  value:
                    message: Failed to delete user
                    description: "Amazon Cognito: ${err.message}"
                DynamoDB:
                  value:
                    message: Failed to delete user
                    description: "Amazon DynamoDB: ${err.message}"

  # -------------------- Admin --------------------
  /admin/corporation/list:
    get:
      tags:
        - Admin
      summary: Read corporations by admin
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: yearMonth
          schema:
            type: integer
            example: 202107
          description: Year and month of items to return
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: nikuyokocho
                    status:
                      type: string
                      example: ACTIVE
                    corporationName:
                      type: string
                      example: 渋谷 肉横丁
                    shopsCount:
                      type: integer
                      example: 3
                    yearMonth:
                      type: integer
                      example: 202107
                    totalSales:
                      type: integer
                      example: 1234567
                    totalEarnedPoints:
                      type: integer
                      example: 12345
                    totalUsedPoints:
                      type: integer
                      example: 3000
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Corporation not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to corporation list
                description: "Amazon DynamoDB: ${err.message}"
  /admin/corporation/{corporationId}:
    put:
      tags:
        - Admin
      summary: Update corporation by admin
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: corporationId
          description: Corporation ID
          required: true
          schema:
            type: string
            example: nikuyokocho
      requestBody:
        description: Corporation object to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                corporationName:
                  type: string
                  example: 渋谷 肉横丁
              required:
                - corporationName
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: nikuyokocho
                  corporationName:
                    type: string
                    example: 渋谷 肉横丁
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: corporationName required to update corporation info
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Corporation not found
                description: "corporationId: ${corporationId}"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to update corporation info
                description: "Amazon DynamoDB: ${err.message}"
  /admin/shop/list:
    get:
      tags:
        - Admin
      summary: Read shops by admin
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: corporationId
          schema:
            type: string
            example: nikuyokocho
          description: Corporation ID
        - in: query
          name: yearMonth
          schema:
            type: integer
            example: 202107
          required: true
          description: Year and month of items to return
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: nikuyokocho-0001
                    corporationId:
                      type: string
                      example: nikuyokocho
                    status:
                      type: string
                      example: ACTIVE
                    corporationName:
                      type: string
                      example: 渋谷 肉横丁
                    shopName:
                      type: string
                      example: 渋谷 肉横丁 肉太郎
                    address:
                      type: string
                      example: 東京都渋谷区宇田川町１３−８ ちとせ会館 ２F 渋谷肉横丁内
                    phone:
                      type: string
                      example: 03-6427-8994
                    openingHours:
                      type: string
                      example: |
                        月～日、祝日、祝前日: 17:00～翌0:00
                        定休日：不定休
                    yearMonth:
                      type: integer
                      example: 202107
                    totalSales:
                      type: integer
                      example: 1234567
                    totalEarnedPoints:
                      type: integer
                      example: 12345
                    totalUsedPoints:
                      type: integer
                      example: 3000
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Shop not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to get shop list
                description: "Amazon DynamoDB: ${err.message}"
  /admin/shop/{shopId}:
    put:
      tags:
        - Admin
      summary: Update shop by admin
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: shopId
          description: Shop ID
          required: true
          schema:
            type: string
            example: nikuyokocho-0001
      requestBody:
        description: Shop object to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shopName:
                  type: string
                  example: 渋谷 肉横丁 肉太郎
                address:
                  type: string
                  example: 東京都渋谷区宇田川町１３−８ ちとせ会館 ２F 渋谷肉横丁内
                phone:
                  type: string
                  example: 03-6427-8994
                openingHours:
                  type: string
                  example: |
                    月～日、祝日、祝前日: 17:00～翌0:00
                    定休日：不定休
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: nikuyokocho-0001
                  shopName:
                    type: string
                    example: 渋谷 肉横丁 肉太郎
                  address:
                    type: string
                    example: 東京都渋谷区宇田川町１３−８ ちとせ会館 ２F 渋谷肉横丁内
                  phone:
                    type: string
                    example: 03-6427-8994
                  openingHours:
                    type: string
                    example: |
                      月～日、祝日、祝前日: 17:00～翌0:00
                      定休日：不定休
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: shopName, address, phone and openingHours required to update shop info
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Shop not found
                description: "shopId: ${shopId}"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to update shop info
                description: "Amazon DynamoDB: ${err.message}"
  /admin/user/list:
    get:
      tags:
        - Admin
      summary: Read users by admin
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: ad89afgt
                    email:
                      type: string
                      example: user@gmail.com
                    status:
                      type: string
                      example: ACTIVE
                    nickname:
                      type: string
                      example: スタールくん
                    iconUrl:
                      type: string
                      example: https://www.example.com/ad89afgt
                    amount:
                      type: integer
                      example: 1234
                    totalEarnedPoints:
                      type: integer
                      example: 3000
                  example:
                    - id: ad89afgt
                      email:
                      status: SIGND_UP
                      nickname:
                      iconUrl:
                      amount: 1000
                      totalEarnedPoints: 1000
                    - id: ad89afgt
                      email: user@gmail.com
                      status: REGISTERED
                      nickname: スタールくん
                      iconUrl:
                      amount: 2000
                      totalEarnedPoints: 2000
                    - id: ad89afgt
                      email: user@gmail.com
                      status: VERIFIED
                      nickname: スタールくん
                      iconUrl: https://www.example.com/ad89afgt
                      amount: 1234
                      totalEarnedPoints: 3000
                    - id: ad89afgt
                      email: user@gmail.com
                      status: ACTIVE
                      nickname: スタールくん
                      iconUrl: https://www.example.com/ad89afgt
                      amount: 1234
                      totalEarnedPoints: 3000
                    - id: ad89afgt
                      email: user@gmail.com
                      status: DISABLED
                      nickname: スタールくん
                      iconUrl: https://www.example.com/ad89afgt
                      amount: 1234
                      totalEarnedPoints: 3000
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: User not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to get user list
                description: "Amazon DynamoDB: ${err.message}"
  /admin/transaction/list:
    get:
      tags:
        - Admin
      summary: Read transactions by admin
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: yearMonth
          schema:
            type: integer
            example: 202108
          description: Year and month of items to return
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1
                    userId:
                      type: string
                      example: ad89afgt
                    shopId:
                      type: string
                      example: nikuyokocho-0001
                    corporationId:
                      type: string
                      example: nikuyokocho
                    shopName:
                      type: string
                      example: 渋谷 肉横丁 肉太郎
                    yearMonth:
                      type: integer
                      example: 202108
                    price:
                      type: integer
                      example: 1000
                    usedPoints:
                      type: integer
                      example: 100
                    earnedPoints:
                      type: integer
                      example: 9
                    createdAt:
                      type: string
                      example: "2021-08-27T00:00:00+09:00"
                    updatedAt:
                      type: string
                      example: "2021-08-27T00:00:00+09:00"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to get transaction list
                description: "Amazon DynamoDB: ${err.message}"

  # -------------------- Corporation --------------------
  /corporation:
    get:
      tags:
        - Corporation
      summary: Read corporation by corporation
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: nikuyokocho
                  status:
                    type: string
                    example: ACTIVE
                  corporationName:
                    type: string
                    example: 渋谷 肉横丁
                  createdAt:
                    type: string
                    example: "2021-08-01T16:23:56+09:00"
                  shops:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: nikuyokocho-0001
                        status:
                          type: string
                          example: ACTIVE
                        shopName:
                          type: string
                          example: 渋谷 肉横丁 肉太郎
                        address:
                          type: string
                          example: 東京都渋谷区宇田川町１３−８ ちとせ会館 ２F 渋谷肉横丁内
                        phone:
                          type: string
                          example: 03-6427-8994
                        openingHours:
                          type: string
                          example: |
                            月～日、祝日、祝前日: 17:00～翌0:00
                            定休日：不定休
                        createdAt:
                          type: string
                          example: "2021-08-01T16:23:56+09:00"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Failed to get corporation
                description: "Amazon DynamoDB: ${err.message}"
    put:
      tags:
        - Corporation
      summary: Update corporation by corporation
      security:
        - BearerAuth: []
      requestBody:
        description: Corporation object to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                corporationName:
                  type: string
                  example: 渋谷 肉横丁
              required:
                - corporationName
      responses:
        '200':
          description: Successful Operarion
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: nikuyokocho
                  status:
                    type: string
                    example: ACTIVE
                  corporationName:
                    type: string
                    example: 渋谷 肉横丁
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Invalid request parameter
                description: corporationName required to update corporation info
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
[...]
